body {
    background-color:E5E5E5;
    color:rgba(117, 117, 117, 1);
}
.web{
    color: #2196F3;
}
.studio{
    color: #000000;
}
.contacts{
    color: #212121;
}


/* основной цвет текста 757575 */
/* дополнительный цвет Портфолио 212121  */
/*  пошта hover и лого и кнопка синий 2196F3 */
/* текст адрес FFFFFF  */
/* почта в футере и телефон rgba(255, 255, 255, 0.6) */
/* bachground E5E5E5 */
/* backgrond here 2F303A */