html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
/* Colors settings */
:root{
    --primary-text-color:rgba(117, 117, 117, 1);
    --primary-button-color:#F5F4FA;
    --title-text-color:#212121;
    --accent-text-color:#2196F3;
    --primery-white-color:#ffffff;
}
body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    background-color:#FFFFFF;
    color:var(--primary-text-color);
    margin-left: auto;
    margin-right: auto;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
.container{
    width: 1170px;
    outline: 1px dashed rosybrown;
    padding: 0 15px;
    margin: 0 auto;
}  
/* Main Logo */
.logo{
    color:#212121;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.web{
    color: #2196F3;
}
.link-nav{
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.link-nav:hover{
    color: var(--accent-text-color);
}
#e-mail, #phone{
    color:var(--primary-text-color);
    text-decoration: none;
}
#e-mail:hover, #phone:hover{
    color: var(--accent-text-color);
}

/* Color and accent */
.heading-text, .section-title, .heading-title{
    color: var(--title-text-color);
}
.list{
    list-style: none;
    text-decoration: none;
}
/* Section text parameters */
.header-section{
    padding-top: 32px;
    padding-bottom: 32px;
}
.heading-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}
.heading-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
}

/* Header */
.header-section > .container{
    margin-bottom: 0px;
}
.navigation{
    display: flex;
    align-items: center;
}
.nav{
    display:flex;
    margin-left: 93px;
}
.nav .link-nav{
    display: block;
}
.nav .item:not(:last-child){
    margin-right: 50px;
}
.contacts-list{
    display: flex;
    justify-content: space-between;
    margin-left: 305px;
}
/* Oldschool selector "+" - сусідство */
.contacts-list .contacts + .contacts{
    margin-left: 30px;
}

/* Hero section */
.hero{
    width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    letter-spacing: 0.06em;
    background-color:#2F303A;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--primery-white-color);
}

.hero-button{
    min-width:200px;
    height:50px;
    margin-top: 30px;
    border-radius: 4px;
    padding: 10px 32px;
    background-color: #2196F3;
    color: #ffffff;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    font-size: inherit;
}

/* Контейнер Features */
.features{
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-list{
    display:flex;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
}
.features-list > .item{
    padding: 15px 0;
    max-width: 270px;
}
.item > .svg-block{
    width: 270px;
    height: 120px;
    background-color:#F5F4FA;
}
.item > .description{
    width: 270px;
}
.description > .heading-text{
    padding-top: 30px;
    padding-bottom: 10px;
}
/* Контейнер Чем занимаемся */
.work-directions{
    padding-bottom: 94px;
}
.work-directions .heading-title{
    padding-bottom: 50px;
}
.directions-list{
    display:flex;
    justify-content:space-between;
    margin-left: -15px;
}
.directions-list > .card:not(:last-child){
    padding-right: 30px;
}

/* Comandos section */
.section-comando{
    margin-bottom: 0px;
    padding-top: 94px;
    padding-bottom: 94px;
    background-color:#F5F4FA;
}
.section-comando .heading-title{
    padding-bottom:50px;
}
.section-comando > .text{
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}
.team-list{
    display:flex;
    justify-content:space-around;
}
.team-list > .team-card{
    box-sizing: border-box;
    background-color: #ffffff;
    max-width: 270px;
    margin: 15px 15px;
}
/* team-card > .team-info{
    padding: 30px 60px;
} */
.team-info > .heading-text{
    text-align: center;
    padding-top: 30px;
}
.team-info > .text{
    text-align: center;
    padding-top: 10px;
}
.card_img{
    width: 270px;
    height: 260px;
}
.social-contacts{
    padding: 16px 32px 30px;
}
.team-social{
    display: flex;
    justify-content: space-evenly;
}
/* Portfolio page */
.link-current{
    color: var(--accent-text-color)
}
.hidden {
    display: none;
  }
.section-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.section-title > p{
    font-size: 16px;
    line-height: 1.86;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 94px;
    margin-left: -15px;
    margin-right: -15px;
}
.portfolio-element{
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}
.portfolio-element:nth-child(3n){
    margin-right: 0;
}
.portfolio-element:nth-last-child(-n+3){
    margin-bottom: 0;
}
.element-description{
    background:#FFFFFF;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 20px 24px;
}
.filter{
    margin-bottom: 34px;
}
.btn-select{
    display: inline-block;
    height: 38px;
    border-radius: 4px;
    padding: 6px 22px;
    background-color:  var(--primary-button-color);
    color:var(--title-text-color) ;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}
.btn-select:hover{
    background-color:  var(--accent-text-color);
    color:var(--primery-white-color)
}
.filter-list{
    display: flex;
    justify-content: center;
    padding-bottom: 14px;
    margin-bottom: 34px;
}
.filter-list > .item:not(:last-child){
    margin-right: 8px;
}

/* Footer part */
.footer-section{
    background-color: #2F303A;
    min-height: 252px;
}
.footer-section > .container{
    display:flex;
    padding-top: 48px;
    padding-bottom: 60px;
    /* height: 211px; */
    /* align-items: center; */
    /* justify-content: space-between; */
    align-items: baseline;
    
}
.footer-section .logo{
    display: inline-block;
    padding-bottom: 20px;
    color: var(--primery-white-color);
}
.address{
    color: var(--primery-white-color);
    font-style: normal;
}
.social{
    display:flex;
}
.social-link{
    display: block;
}
.social-links:not(:last-child){
    margin-right: 10px;
}
.join{
    display: block;
    padding-bottom: 20px;

    color:var(--primery-white-color);
    font-weight: 700;
    line-height: 1.14;
}
.top-part{
    margin-right: 70px;
}