/* Colors settings */
:root{
    --primary-text-color:rgba(117, 117, 117, 1);
    --primary-button-color:#F5F4FA;
    --title-text-color:#212121;
    --accent-text-color:#2196F3;
    --primery-white-color:#ffffff;
}
body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    background-color:#E5E5E5;
    color:var(--primary-text-color);
}
.logo {
    color:#212121;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.web{
    color: #2196F3;
}
.link-nav{
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.link-nav:hover{
    color: var(--accent-text-color);
}
#e-mail, #phone{
    color:var(--primary-text-color);
    text-decoration: none;
}
#e-mail:hover, #phone:hover{
    color: var(--accent-text-color);
}
.contacts-list{
    color:var(--primary-text-color);
}
.heading-text, .section-title, .heading-title{
    color: var(--title-text-color);
}
.address{
    color: var(--primery-white-color);
}
.contacts-list, .list{
    list-style: none;
    text-decoration: none;
}
.btn-select{
    background-color:  var(--primary-button-color);
    color:var(--title-text-color) ;
}
.btn-select:hover{
    background-color:  var(--accent-text-color);
    color:var(--primery-white-color)
}
.link-current{
    color: var(--accent-text-color)
}
.section-comando{
    background-color:#F5F4FA;
}
footer{
    background-color: #2F303A;
}
footer > .logo{
    color: var(--primery-white-color)
}
.hidden {
    display: none;
  }

/* Fonts settings */
.hero{
    letter-spacing: 0.06em;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}
.hero-button{
    background-color: #2196F3;
    color: #ffffff;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    font-size: inherit;
}
.btn-select{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}
.section-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.section-title > p{
    font-size: 16px;
    line-height: 1.86;
}
.heading-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}
.heading-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
}
.section-comando > p{
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}