html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
/* Colors settings */
:root{
    --primary-text-color:rgba(117, 117, 117, 1);
    --primary-button-color:#F5F4FA;
    --title-text-color:#212121;
    --accent-text-color:#2196F3;
    --primery-white-color:#ffffff;
}
body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    background-color:#FFFFFF;
    color:var(--primary-text-color);
    margin-left: auto;
    margin-right: auto;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
.container{
    width: 1170px;
    /* outline: 1px dashed bisque; */
    padding: 0 15px;
    margin: 0 auto;
}  
/* Main Logo */
.logo{
    color:#212121;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.web{
    color: #2196F3;
}
.nav__link{
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.nav__link:hover,
.nav__link:focus{
    color: var(--accent-text-color);
}
.nav__link--active:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 4px;
    background-color: #2196f3;
    bottom: 0;
    right: 0;
}
#e-mail, #phone{
    color:var(--primary-text-color);
    text-decoration: none;
}
#e-mail:hover, #phone:hover,
#e-mail:focus, #phone:focus{
    color: var(--accent-text-color);
}

/* Color and accent */
.heading-text, .section-title, .heading-title, .work__title, .work__text{
    color: var(--title-text-color);
}
.list{
    list-style: none;
    text-decoration: none;
}
/* text parameters */
.heading-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}
.heading-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
}

/* Header */
.header-section > .container{
    margin-bottom: 0px;
}
.header-section__navigation{
    display: flex;
    align-items: center;
}
.nav{
    display:flex;
    margin-left: 93px;
}
.nav > .item{
    position: relative;
}
.nav .nav__link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
}
.nav .item:not(:last-child){
    margin-right: 50px;
}
.contacts-list{
    display: flex;
    justify-content: space-between;
    margin-left: 305px;
}
/* Oldschool selector "+" - сусідство */
.header-section__contacts + .header-section__contacts{
    margin-left: 30px;
}

/* Hero section */
.hero{
    max-width: 1600px;
    min-height: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    letter-spacing: 0.06em;
}
.hero__bg{
    background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Bg_hero1.jpeg);
    background-size: cover;
    background-position: center;
}
.hero__layout{
    padding: 200px 452px;
}
.hero__title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--primery-white-color);
}
.hero__button{
    min-width:200px;
    min-height:50px;
    margin-top: 30px;
    border-radius: 4px;
    border-color:  #212121;
    padding: 10px 32px;
    background-color: #2196F3;
    color: #ffffff;
    opacity: 0.8;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    font-size: inherit;
}
.hero__button:hover{
    opacity: 1;
}

/* Контейнер Features */
.features{
    padding-top: 94px;
    padding-bottom: 94px;
}
.features__list{
    display:flex;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
}
.features__item{
    max-width: 270px;
}
.features__item::before{
    content:"";
    display: block;
    height: 120px;
    background-color: #f5f4fa;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    margin-bottom: 30px;
}
.icon-antena::before{
    background-image: url(../images/antenna.svg);
}
.icon-clock::before{
    background-image: url(../images/clock.svg);
}
.icon-diagram::before{
    background-image: url(../images/diagram.svg);
}
.icon-astronaut::before{
    background-image: url(../images/astronaut.svg);
}
/* .features__img{
    width: 270px;
    height: 120px;
    background-color:#F5F4FA;
} */
    
/* .features__img > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: center;
} */
.features__description{
    width: 270px;
}
.features__description > .heading-text{
    padding-top: 30px;
    padding-bottom: 10px;
}
/* Контейнер Чем занимаемся */
.work{
    padding-bottom: 94px;
}
.work__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 50px;
}
.work__img{
    position: relative;
}
.work__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    padding: 27px 0;
    
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.work__list{
    display:flex;
    justify-content:space-between;
    margin-left: -15px;
    margin-right: -15px;
}
.work__list > .work__card:not(:last-child){
    padding-right: 30px;
}

/* Comandos section */
.team{
    margin-bottom: 0px;
    padding-top: 94px;
    padding-bottom: 94px;
    background-color:#F5F4FA;
}
.team .heading-title{
    padding-bottom:50px;
}
.team > .text{
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}
.team__list{
    display:flex;
    justify-content:space-around;
}
.team__card{
    box-sizing: border-box;
    background-color: #ffffff;
    max-width: 270px;
    margin: 15px 15px;
}
.team__info > .heading-text{
    text-align: center;
    padding-top: 30px;
}
.team__info > .text{
    text-align: center;
    padding-top: 10px;
}
.card_img{
    width: 270px;
    height: 260px;
}
.team__contacts{
    padding: 16px 32px 30px;
}
.team__social{
    display: flex;
    justify-content: space-evenly;
}
.social__link{
    display: flex;
    width: 44px;
    height: 44px;
    margin: 0 5px;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.social__link:hover,
.social__link:focus {
    background-color: var(--accent-text-color);
}
.social__link:hover .social__item,
.social__link:focus .social__item {
    fill: var(--primery-white-color);
}
.social__item{
    width: 20px;
    height: 20px;
    fill: #afb1b8;
}

/*  Clients section */
.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients__list{
    display: flex;
    justify-content: space-between;
}
.clients .heading-title{
    padding-bottom: 50px;
}
.clients__item{
    display: flex;
    width: 170px;
    height: 92px;
    margin: 15px;
    border: 1px solid #AFB1B8;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.client__icon{
    min-width: 106px;
    min-height: 60px;
    fill: #AFB1B8;
}
.client__icon:hover{
    fill: var(--accent-text-color);
}
/* Portfolio page */
/* .link-current{
    color: var(--accent-text-color)
} */
.portfolio >.container{
    margin-top: 94px;
}

.hidden {
    display: none;
  }
.section-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.section-title > p{
    font-size: 16px;
    line-height: 1.86;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 94px;
    margin-left: -15px;
    margin-right: -15px;
}
.portfolio-element{
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}
.portfolio-element:hover{
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.portfolio-element:nth-child(3n){
    margin-right: 0;
}
.portfolio-element:nth-last-child(-n+3){
    margin-bottom: 0;
}
.element-description{
    background:#FFFFFF;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 20px 24px;
}
.filter{
    margin-bottom: 34px;
}
.btn-select{
    display: inline-block;
    height: 38px;
    border-radius: 4px;
    padding: 6px 22px;
    background-color:  var(--primary-button-color);
    color:var(--title-text-color) ;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}
.btn-select:hover,
.btn-select:focus{
    background-color:  var(--accent-text-color);
    color:var(--primery-white-color)
}
.filter-list{
    display: flex;
    justify-content: center;
    padding-bottom: 14px;
    margin-bottom: 34px;
}
.filter-list > .item:not(:last-child){
    margin-right: 8px;
}
.filter-list > .item{
    position: relative;
}
.filter-list__submenu{
    background-color: var(--primary-button-color);
    padding: 10px;
    width: 100%;

    display: none;

    position: absolute;
    left: 0;
    top: 100%;
}
.filter-list__submenu a{
    text-decoration: none;
    color: #212121
}
.filter__item:hover .filter-list__submenu{
    display: block;
}

/* Footer part */
.footer-section{
    background-color: #2F303A;
    min-height: 252px;
}
.footer-section > .container{
    display:flex;
    padding-top: 48px;
    padding-bottom: 60px;
    /* height: 211px; */
    /* align-items: center; */
    /* justify-content: space-between; */
    align-items: baseline;
    
}
.footer-section .logo{
    display: inline-block;
    padding-bottom: 20px;
    color: var(--primery-white-color);
}
.address{
    color: var(--primery-white-color);
    font-style: normal;
}
.bootom-part{
    width: 206px;
    height: 80px;
}
.footer-social{
    display:flex;
    justify-content: space-between;
}
.footer-social__link{
    display: flex;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
}
.footer-social__link:hover {
    background-color:var(--accent-text-color);
}
.footer-social__item{
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}
.join{
    display: block;
    padding-bottom: 20px;

    color:var(--primery-white-color);
    font-weight: 700;
    line-height: 1.14;
}
.top-part{
    margin-right: 70px;
}